<div class="row">
  <button phx-click="reset">Reset</button>
</div>

<%= plot_response_times(@state.test_data) %>

<div class="row">
  <div class="column">
    <%= live_component(@socket, LsppWeb.TabLive, id: :tab, assigns: assigns, initial_tab: :requests, tabs: tab_config()) %>
  </div>
</div>
