<h1>Logs</h1>
<%= if @state.filter != "" && @state.filtered_message_records == [] do %>
  No results matched
<% end %>
<%= for message_record <- logs(@state.filtered_message_records) do %>
  <div class="message">
    <%= LsppWeb.MessagesView.render_message(
        message_record,
        Map.get(@state.expanded, message_record.id),
        Map.get(@state.formatted, message_record.id),
        @state.req_by_id
        ) %>
  </div>
<% end %>
