<div class="row">
  <button phx-click="reset">Reset</button>
</div>

<%= plot_response_times(@state.test_data) %>

<div class="row">
  <div class="column">
    <%= case @state.active_tab do %>
      <% :requests -> %>
        <%= live_component(@socket, LsppWeb.ReqRespLive, assigns) %>
      <% :messages -> %>
        <%= live_component(@socket, LsppWeb.MessageList, assigns) %>
    <% end %>
  </div>
</div>
