/* This file is for your main application css. */

@import "./phoenix.css";
@import "./contex.css";

.message {
  margin: 6px 0;
  padding-left: 8px;
  border-left: 1px solid blue;
}

a:focus, a:hover {
  color: #004b9b !important;
  cursor: pointer;
}

.text-btn {
  font-size: 1.2rem;
  -moz-user-select: none;
  user-select: none;
}

.text-btn a {
  margin-right: 4px;
}

.direction-arrow {
  font-size: 2.2rem;
  margin-right: 4px;
}

.code {
  font-family: "Lucida Console", Monaco, monospace;
  background: #f4f5f6;
  white-space: pre;
}

@import "../node_modules/nprogress/nprogress.css";

