Request Response <%= @req_resp.id %>
<% req = @req_resp.request %>
<% resp = @req_resp.response %>

<%= if req do %>
  <div>
    Start: <%= req.timestamp %>
  </div>
<% else %>
  <%= if resp do %>
    <div>
      End: <%= resp.timestamp %>
    </div>
  <% else %>
    <div>No start message</div>
  <% end %>
<% end %>
<%= if req && resp do %>
  <div>
    Duration: <%= NaiveDateTime.diff(resp.timestamp, req.timestamp, :millisecond) %> milliseconds
  </div>
<% end %>

<br />
