<div class="row">
  <button phx-click="reset">Reset</button>
</div>

<div class="row">
  <div class="column">
    <h1>Messages</h1>
    <%= for message_record <- @message_records do %>
      <div class="message">
        <% expanded = Map.get(@expanded, message_record.id) %>
        <% formatted = Map.get(@formatted, message_record.id) %>

        <%= render_message(message_record, expanded, formatted) %>
      </div>
    <% end %>
  </div>
</div>
