<div class="row">
  <button phx-click="reset">Reset</button>
</div>

<div class="row">
  <div class="column">
    Incoming
    <%= for message <- @incoming do %>
      <div>
        <%= render_message(message) %>
      </div>
    <% end %>
  </div>
  <div class="column">
    Outgoing
    <%= for message <- @outgoing do %>
      <div>
        <%= render_message(message) %>
      </div>
    <% end %>
  </div>
</div>
